# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
tmp/
*.egg-info/
.eggs/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Unit tests / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover

# PyCharm / VS Code / IDE stuff
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Virtual environments
.env/
.venv-test
.venv-testpypi
.venv


# Other
.DS_Store
*.log
*.bak

TOKEN


supertable/infrastructure/minio/config
supertable/infrastructure/minio/data
supertable/infrastructure/minio/minio-data1
supertable/infrastructure/minio/minio-data2
supertable/infrastructure/minio/minio-data3
supertable/infrastructure/minio/minio-data4
supertable/infrastructure/minio/scripts